* {
    box-sizing: border-box;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    scrollbar-color: #434343a8 #17161482;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: #00000000;
}

body {
    background-color: #101018;
    overscroll-behavior-y: contain;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    color: #fff;
    font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 400;
}

.font-semistrong {
    font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-weight: 600;
}

.font-strong {
    font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

input, textarea, select {
    background-color: #00000000;
    border: 0;
    caret-color: #db2424;
    color: #dcdcdc;
    font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 17px;
    font-weight: 400;
    outline: 0;
}

textarea {
    resize: none;
}

select option {
    background-color: #1c1c25;
    border: 0;
    font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 5px;
    outline: 0;
}