.popup {
  background: transparent;
  border-radius: 20px;
  outline: 2px solid #db2424;
  max-width: 1000px;
  max-height: 500px;
  overflow: auto;
  position: relative;
  z-index: 10000;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.infoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.form {
  width: 478px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox {
  width: 80%;
  height: 60px;
  background: #1c1c25;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.textbox:focus-within {
  background: #170000;
  outline: 3px solid #db2424;
}

.divider {
  width: 2px;
  height: 100%;
  background: #353131;
  margin: 0 15px;
}

.dividerInp {
  width: 2px;
  height: 10px;
  background: #353131;
  margin: 0 15px;
}

.textbox input,
.textbox select {
  width: 100%;
  background: none;
  border: none;
  color: white;
  outline: none;
}

/* ACTIONS */
.actions {
  width: 100%;
  padding: 20px;
  margin-top: 35px; /* pushed down */
}

/* REMEMBER ME */
.remember {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
}

/* hide default checkbox */
.remember input {
  display: none;
}

/* custom checkbox box */
.checkbox {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 2px solid #db2424;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* checkmark */
.checkIcon {
  width: 16px;
  height: 16px;
  color: #db2424;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.15s ease;
}

/* checked state */
.remember input:checked + .checkbox .checkIcon {
  opacity: 1;
  transform: scale(1);
}

/* BUTTON */
.button {
  width: 100%;
  background: #db2424;
  border-radius: 30px;
  border: none;
  padding: 12px;
  cursor: pointer;
  color: white;
}

/* Pulse theme dropdown */
.info-form .form .textbox select {
    background-color: #1C1C25; /* same as textbox */
    color: #DB2424;            /* Pulse red text */
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: "HarmonyOS";
    font-size: 17px;
    width: 100%;
    outline: none;
    appearance: none; /* removes default arrow on some browsers */
}

.info-form .form .textbox select option {
    background-color: #1C1C25; /* match dark theme */
    color: #fff;                /* option text white */
}
